<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.subModule - Inventory Management </title>
    @Styles.Render("~/Content/admin-css")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container-scroller">
        @Html.Partial("Partials/_PartialTopnav")

        <div class="container-fluid page-body-wrapper">

            @Html.Partial("Partials/_PartialSidenav")

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row justify-content-between">
                        <div class="col-12 col-md-6 text-start">
                            <h2 class="fw-bold">@ViewBag.subModule</h2>
                        </div>
                        <div class="col-12 col-md-6 text-end d-flex justify-content-end gap-2 pe-4">
                            <a class="text-decoration-none" href="@ViewBag.moduleUrl">@ViewBag.module</a> / <p class="fs-18 text-muted">@ViewBag.subModule</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card p-4">
                                <div class="row mb-4">
                                    <div class="col-12 text-end">
                                        @if(ViewBag.btnType != null) 
                                        {
                                            <a href="@ViewBag.btnUrl" class="btn btn-sm btn-primary">
                                                @if(ViewBag.btnType == "create")
                                                    {
                                                    <i class="mdi mdi-plus"></i> @ViewBag.btnText
                                                    }
                                                else if(ViewBag.btnType == "list")
                                                    {
                                                    <i class="mdi mdi-format-list-bulleted"></i> @ViewBag.btnText
                                                    }
                                                else if(ViewBag.btnType == "back")
                                                    {
                                                    <i class="mdi mdi-arrow-left"></i> @ViewBag.btnText
                                                    }
                                            </a>
                                        }
                                    </div>
                                </div>
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>

                @Html.Partial("Partials/_PartialFooter")

            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/Assets/vendors/js/base.js"></script>
    @Scripts.Render("~/bundles/admin-js")
    <script src="~/Scripts/Assets/common.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
